# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
.env

# Logs
*.log

# Pytest
.pytest_cache/

# IDE
.idea/
.vscode/

# OS
Thumbs.db
Desktop.ini
