# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
.env

# Logs
*.log

# Pytest
.pytest_cache/

# IDE
.idea/
.vscode/

# OS
Thumbs.db
Desktop.ini

# Large files
*.exe
*.dll
*.pth
*.onnx
*.pdiparams
*.pdmodel
*.pdiparams.info
easyocr_models/
paddle_models/
models/
models_easyocr/
Data/session/
Data/profile/
logs/